body {
  background-color: lightskyblue;
}
.main{
margin: 50px 0px 70px 0px;
text-align: center;
color: rgb(6, 0, 78);
}
#login {
background:lightskyblue;
text-align: center;
font-size: large;
border-style: double;
width:20%;
margin:auto;
border-width:thick;
border-radius: 20px;
padding:30px 30px 30px 30px;
}
#title {
margin: 50px 0px 0px 0px;
text-align: center;
font-size: xx-large;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}
#title:hover {
transition: transform .6s;
text-decoration: none;
-ms-transform: scale(1.5); /* IE 9 */
-webkit-transform: scale(1.5); /* Safari 3-8 */
transform: scale(1.5); 
}

#sign {
    background:lightskyblue;
    text-align: center;
    font-size: large;
    border-style: double;
    width:20%;
    margin:auto;
    border-width:thick;
    border-radius: 20px;
    padding:30px 30px 30px 30px;
    }